<nz-footer class="site-footer">
  <div nz-row nzJustify="space-around">
    <div nz-col nzXs="22" nzSm="12" nzMd="6">
      <h6>About</h6>
      <p class="text-justify">
        We will help programmers build up concepts in different programming
        languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript,
        PHP, Android, SQL and Algorithm.
      </p>
    </div>

    <div nz-col nzXs="22"  nzSm="12" nzMd="3">
      <h6>Categories</h6>
      <ul class="footer-links">
        <li><a href="#">C</a></li>
        <li>
          <a href="#">UI Design</a>
        </li>
        <li>
          <a href="#">PHP</a>
        </li>
        <li>
          <a href="#">Java</a>
        </li>
        <li><a href="#">Android</a></li>
        <li>
          <a href="#">Templates</a>
        </li>
      </ul>
    </div>

    <div nz-col nzXs="22"  nzSm="12" nzMd="3">
      <h6>Quick Links</h6>
      <ul class="footer-links">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li>
          <a href="#">Contribute</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>
  </div>
  <hr />
  <div nz-row nzJustify="space-around">
    <div nz-col nzXs="22" nzSm="12" nzMd="8">
      <p class="copyright-text">
        Copyright &copy; 2022 All Rights Reserved by
        <a href="#">LongLV</a>.
      </p>
    </div>

    <div nz-col nzXs="22" nzSm="12" nzMd="8">
      <ul class="social-icons">
        <li>
          <a class="facebook" [href]="socialLinks['facebook']" target="_blank"><i nz-icon nzType="facebook" nzTheme="outline"></i></a>
        </li>
        <li>
          <a class="twitter" [href]="socialLinks['twitter']" target="_blank"><i nz-icon nzType="twitter" nzTheme="outline"></i></a>
        </li>
        <li>
          <a class="youtube" [href]="socialLinks['youtube']" target="_blank"><i nz-icon nzType="youtube" nzTheme="outline"></i></a>
        </li>
        <li>
          <a class="linkedin" [href]="socialLinks['linkedin']" target="_blank"><i nz-icon nzType="linkedin" nzTheme="outline"></i></a>
        </li>
        <li>
          <a class="github"  [href]="socialLinks['github']" target="_blank"><i nz-icon nzType="github" nzTheme="outline"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nz-footer>
